*::-webkit-scrollbar {
    display: none;
  }
.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}

.logo{
    width: 100px;
}

.nav-items{
    margin-right: 30px;
    
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
   
}

.nav-items > ul > li{
    padding: 10px;
    font-size: 20px;
}

.login-btn{
 margin: 5px;
 cursor: pointer;
}
.filter-btnContainer{
    margin: 10px;
}
.filter-btn{
    cursor: pointer;
}

.res-container {
    display:flex;
    flex-wrap: wrap;
}

.res-cart{
    width:180px;
    background-color: #f0f0f0;
   
    margin:10px;
    padding:10px; 
    border-radius: 20px;
  
   
}

.res-cart:hover{
    border: 2px solid black;
    cursor: pointer;
}

.res-image{
    width:170px;
    height:150px;
    margin: 10px;
  
}
